.content{
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
}
.content .main{
    width: 100%;
    height: 375px;
    padding-top: 35px;
}
.content .main .aside{
    float: left;
    width: 305px;
    height: 375px;
}
.content .main .aside .classify{
    width: 305px;
    height: 375px;
}
.content .main .aside .classify li{
    position: relative;
    width: 100%;
    height: 47px;
    line-height: 47px;
}
.content .main .aside .classify li h2{
    float: left;
    font-size: 18px;
    margin-right: 12px;
}
.content .main .aside .classify li p{
    float: left;
}
.content .main .aside .classify li p a{
    margin-right: 25px;
}
.content .main .aside .classify li i{
    position: absolute;
    top: 17px;
    right: 4px;
    width: 6px;
    height: 11px;
    background:url(../images/main_list_arrow.png) no-repeat 0 0;
}
.content .main .banner{
    position: relative;
    float: right;
    height: 347px;
    width: 840px;
    margin-top: 13px;
    overflow: hidden;
}
.content .main .banner ul{
    /* position: absolute;
    top: 0;
    left: 0; */
    height: 347px;
    width: 5000px;
}
.content .main .banner ul li{
    float: left;
    width: 840px;
    height: 347px;
}
.content .main .banner .btn .btn-left{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    background: url(../images/banner_arrow_left.png) no-repeat center center;
    cursor: pointer;
}
.content .main .banner .btn .btn-left:hover{
    background-image: url(../images/banner_arrow_left_highlight.png);
}
.content .main .banner .btn .btn-right{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    background: url(../images/banner_arrow_right.png) no-repeat center center;
    cursor: pointer;
}
.content .main .banner .btn .btn-right:hover{
    background-image: url(../images/banner_arrow_right_highlight.png);
}
.content .main .banner ol{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    height: 6px;
}
.content .main .banner ol li{
    float: left;
    width: 7px;
    height: 6px;
    margin-right: 4px;
    cursor: pointer;
    background-color: rgba(255,255,255,0.4);
    border-radius: 50%;
}
.content .main .banner ol .current{
    background-color: #fff;
    width: 10px;
}